.hidden
{
	display: none;
}

img, embed, object, video
{
	max-width: 100%;
}

html
{
	box-sizing: border-box;
}

*, *::before, *::after
{
	box-sizing: inherit;
}

a
{
	font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
	text-decoration: none;
	transition: all .1s linear;
}

.container
{
	margin: 0 auto;
	max-width: 1200px;
}

/* Nav and Header */

.mainHeader
{
	background-color: #f7f4d8;
}

.mainNav
{
	background-color: #f7f4d8;
	text-align: right;
}

.burgerCon
{
	margin-top: 20px;
	display: none;
}

.burgerCon.slideToggle
{
	display: block;
}

.mainNav button
{
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	padding: 10px;
	transition: all .5s ease;
}

.mainNav button.expanded
{
	transform: rotate(90deg);
}

.mainNav li a
{
	display: block;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #d56028;
}

.mainNav li
{
	border-bottom: 1px solid #603913AA;
}

.mainNav li:first-child
{
	border-top: 1px solid #603913AA;
}

.mainNav li:last-child
{
	margin-bottom: 10px;
}

.mainNav li a:hover
{
	color: #f6cb32;
}

.htLogo
{
	max-width: 192px;
	display: block;
	margin: 20px auto 25px auto;
	padding-bottom: 20px;
}

/* end of Nav and Header */

/* HOME PAGE */

.video section source
{
	max-width: 100%
}

#welcomeCon header h2
{
	font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: 50px;
	color: #d56028;
}

#welcomeCon header h2:after
{
	content: "";
	display: block;
	width: 70px;
	border-bottom: 2px solid #f6cb32;
	margin: 10px auto 0 auto;
}

.infoBox
{
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 170px;
}

.promoImg1
{
	display: block;
	width: 290px;
	height: 195px;
	margin: 0 auto;
}

.infoBorderBox
{
	width: 250px;
	height: 358px;
	background: #d56028;
	border: 1px solid #f6cb32;
	position: absolute;
	top: 170px;
	right: 0;
	left: 0;
	margin: 0 auto;
	outline: 10px solid #d56028;
	padding: 15px 10px 10px 10px;
}

.infoBorderBox p
{
	color: #f7f4d8;
	font-size: 14px;
	font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
	text-align: center;
}

.mainFooter
{
	display: block;
	height: 200px;
	background: url(../images/footerImg.png) no-repeat center top;
	width: 100%;
	padding-top: 10px;
	margin-top: 400px;
}

.mainFooter section h2
{
	font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
	font-size: 20px;
	color: #f7f4d8;
	padding: 10px;
	text-align: center;
}

.mainFooter section h2:after
{
	content: "";
	display: block;
	width: 73px;
	border-bottom: 2px solid #f6cb32;
	margin: 10px auto 10px auto;
}

.contactInfo p
{
	font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
	font-size: 12px;
	color: #f7f4d8;
	text-align: center;
	padding: 5px;
}

.footerLogo
{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (min-width: 586px) {
	#welcomeCon header h2
	{
		font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
		font-size: 22px;
		text-align: center;
		margin-top: 70px;
		color: #d56028;
	}

	#welcomeCon header h2:after
	{
		content: "";
		display: block;
		width: 90px;
		border-bottom: 2px solid #f6cb32;
		margin: 10px auto 0 auto;
	}

	.promoImg1
	{
		display: block;
		width: 520px;
		height: 400px;
		margin: 0 auto;
	}

	.infoBorderBox
	{
		width: 460px;
		height: 420px;
		background: #d56028;
		border: 1px solid #f6cb32;
		position: absolute;
		top: 250px;
		right: 0;
		left: 0;
		margin: 0 auto;
		outline: 10px solid #d56028;
		padding: 30px 10px 10px 10px;
	}

	.infoBorderBox p
	{
		color: #f7f4d8;
		font-size: 16px;
		line-height: 24px;
		font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
		text-align: center;
	}

	.mainFooter section h2
	{
		font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
		font-size: 24px;
		color: #f7f4d8;
		padding: 10px;
		text-align: center;
	}

	.mainFooter section h2:after
	{
		content: "";
		display: block;
		width: 80px;
		border-bottom: 2px solid #f6cb32;
		margin: 10px auto 10px auto;
	}

	.contactInfo p
	{
		font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
		font-size: 14px;
		color: #f7f4d8;
		text-align: center;
		padding: 5px;
	}

	.footerLogo
	{
		display: block;
		margin: 0 auto;
		width: 266px;
		height: 155px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 786px) {
	.gridCon
	{
		display: grid;
		grid-template-columns: repeat(9, minmax(0,1fr));
		grid-column-gap: 30px;
	}

	.logoCon
	{
		order: -1;
		grid-column: 1/3;
		margin-top: 15px;
	}

	.htLogo
	{
		margin: 0;
		display: inline;
		max-width: 246px;
	}

	.button
	{
		display: none;
	}

	.burgerCon
	{
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.mainNav
	{
		grid-column: 3/-1;
		/* text-align: right; */
		margin: 0;
	}

	.mainNav li
	{
		border-bottom: none;
		display: inline-block;
		margin-left: 20px;
	}

	.mainNav li a
	{
		font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
		font-size: 18px;
		display: inline-block;
		margin-left: 5px;
		margin-top: 75px;
		background-color: #f7f4d8;
		color: #d56028;
	}

	.mainNav li a:hover
	{
		color: #f6cb32;
		border-bottom: 3px solid #f6cb32;
		padding-bottom: 5px;
	}

	.burgerCon
	{
		margin-bottom: 40px;
	}

	.mainNav li:first-child
	{
		border-top: none;
	}

	.video
	{
		margin-top: 20px;
	}

	#welcomeCon header
	{
		grid-column: 2/9;
		margin-top: 35px;
	}

	#welcomeCon header h2
	{
		font-size: 35px;
	}

	#welcomeCon header h2:after
	{
		width: 200px;
		padding: 5px;
	}

	.infoBox
	{
		grid-column: 2/9;
		margin-top: 30px;
	}

	.infoBorderBox p
	{
		font-size: 18px;
	}

	.mainFooter
	{
		margin: 0 auto;
		margin-top: 230px;
		height: 300px;
	}

	.mainFooter section h2
	{
		font-size: 30px;
		margin-top: 20px;
	}

	.contactInfo p
	{
		font-size: 16px;
	}

	.footerLogo
	{
		margin-top: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.container
	{
		box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	}

	.logoCon
	{
		background: url(../images/bigLogo.png)
	}

	.htLogo
	{
		background: url(../images/bigLogo.png)
	}

	.burgerCon
	{
		margin-left: 20px;
	}

	.burgerMenu li a
	{
		font-size: 16px;
	}

	.mainHeader li a
	{
		font-size: 20px;
		margin-left: 20px;
	}

	#welcomeCon header
	{
		grid-column: 2/9;
		margin-top: 35px;
	}

	#welcomeCon header h2:after
	{
		width: 200px;
		padding: 5px;
	}

	.infoBox
	{
		grid-column: 2/9;
		margin-top: 30px;
	}

	.infoBorderBox p
	{
		font-size: 18px;
	}
}

/* END OF PAGE 1 */

/* PAGE 2 */

#aboutCon
{
	margin-top: 60px;
}

#aboutCon header h2
{
	font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	color: #603913;
}

#aboutCon header h2:after
{
	content: "";
	display: block;
	width: 70px;
	border-bottom: 2px solid #f6cb32;
	margin: 10px auto 0 auto;
}

#logoInfo
{
	font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: 550px;
	color: #603913;
}

#logoInfo:after
{
	content: "";
	display: block;
	width: 70px;
	border-bottom: 2px solid #f6cb32;
	margin: 10px auto 0 auto;
}

.aboutBox
{
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.aboutBorderBox1
{
	width: 266px;
	height: 438px;
	background: #f7f4d8;
	border: 1px solid #f6cb32;
	position: absolute;
	/* top: 170px; */
	right: 0;
	left: 0;
	margin: 0 auto;
	outline: 10px solid #f7f4d8;
	padding: 15px 10px 10px 10px;
}

.aboutBorderBox2
{
	width: 266px;
	height: 188px;
	background: #f7f4d8;
	border: 1px solid #f6cb32;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	outline: 10px solid #f7f4d8;
	padding: 15px 10px 10px 10px;
}

.aboutBorderBox1 p
{
	color: #d56028;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
	text-align: center;
}

.aboutBorderBox2 p
{
	color: #d56028;
	font-size: 12px;
	line-height: 16px;
	font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
	text-align: center;
}

#aboutLogo
{
	display: none;
}

@media screen and (min-width: 550px) {
	#aboutCon header h2
	{
		font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
		font-size: 22px;
		text-align: center;
		margin-top: 30px;
		color: #603913;
	}

	#aboutCon header h2:after
	{
		content: "";
		display: block;
		width: 75px;
		border-bottom: 2px solid #f6cb32;
		margin: 10px auto 0 auto;
	}

	#logoInfo
	{
		font-family: "DK Downward Fall", 'Cambria bold', sans-serif;
		font-size: 22px;
		text-align: center;
		margin-top: 600px;
		color: #603913;
	}

	#logoInfo:after
	{
		content: "";
		display: block;
		width: 75px;
		border-bottom: 2px solid #f6cb32;
		margin: 10px auto 0 auto;
	}

	.aboutBox
	{
		position: relative;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.aboutBorderBox1
	{
		width: 350px;
		height: 522px;
		background: #f7f4d8;
		border: 1px solid #f6cb32;
		position: absolute;
		/* top: 170px; */
		right: 0;
		left: 0;
		margin: 0 auto;
		outline: 10px solid #f7f4d8;
		padding: 15px 10px 10px 10px;
	}

	.aboutBorderBox2
	{
		width: 350px;
		height: 262px;
		background: #f7f4d8;
		border: 1px solid #f6cb32;
		position: absolute;
		right: 0;
		left: 0;
		margin: 0 auto;
		outline: 10px solid #f7f4d8;
		padding: 15px 10px 10px 10px;
	}

	.aboutBorderBox1 p
	{
		color: #d56028;
		font-size: 14px;
		line-height: 18px;
		font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
		text-align: center;
	}

	.aboutBorderBox2 p
	{
		color: #d56028;
		font-size: 14px;
		line-height: 18px;
		font-family: 'Franklin Gothic Demi', 'Cambria bold', sans-serif;
		text-align: center;
	}
}

@media screen and (min-width: 786px) {
	.gridCon
	{
		display: grid;
		grid-template-columns: repeat(9, minmax(0,1fr));
		grid-column-gap: 30px;
	}

	#aboutCon
	{
		grid-column: -1/9;
	}

	#aboutCon header h2
	{
		grid-column: 1/-1;
		position: absolute;
		z-index: 100;
		display: block;
		font-size: 28px;
		margin: 0 auto;
		text-align: center;
	}

	#logoInfo
	{
		grid-column: 1/-1;
		font-size: 28px;
	}

	.aboutBorderBox1
	{
		top: 100px;
		width: 560px;
		height: 400px;
		grid-column: 1/-1;
		margin: 0;
	}

	.aboutBorderBox2
	{
		width: 560px;
		height: 150px;
		grid-column: 1/-1;
		margin: 0;
	}

	.aboutBorderBox1 p
	{
		grid-column: 1/-1;
		font-size: 16px;
		line-height: 20px;
		margin: 0;
	}

	.aboutBorderBox2 p
	{
		grid-column: 1/-1;
		font-size: 16px;
		line-height: 20px;
		margin: 0;
	}

	#aboutLogo
	{
		display: block;
		grid-column: 2/8;
	}
}
